

.divider{
    display: none;
}

.cs-hero {
    background-image: url("../../assets/IMAGES/SVAROG/FOTO/DSC07234-Enhanced-NR.webp");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-bottom: 15vh;      /* omogućuje apsolutno centriranje slike */
    overflow: hidden;
}

/* centriranje slike */
.cs-hero img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;          /* da prekrije cijelu sekciju */
    transform: translate(-50%, -50%);
}



.cs-project-description{
    display: flex;
    flex-direction: column;
    max-width: 75%;
    column-gap: var(--gap-small);
    margin-bottom: 15vh;
}



.logo-presentation{
    height: fit-content;
    width:  100%;
    margin-bottom: 15vh;
}

.logo-presentation img{
    object-position: center;
}



.square-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,1fr);
  row-gap: 24px;
  max-width: 1400px;
  margin-bottom: 15vh;

}

.square-item {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;   /* Kvadratni omjer */
  overflow: hidden;
}

.square-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.web-link{
    width: 100%;
    height: auto;
    font-weight: 700 ;
    font-size: clamp(2rem, 6vw, 8vh);
    margin-bottom: 5vh;

}

.web-link span{
    transition: all .2s ease;
}

.web-link span:hover{
    transform: translateY(-5px) ;
}




@media (max-width: 768px) {

    .cs-hero{
        height: 80vh;
        background-size: cover;
        background-position: top center;
        max-height: 400px;
    }

    .cs-hero img {
        position: static;        /* makni absolute centriranje */
        width: 100%;
        height: auto;            /* održava 1:1 proporcije */
        transform: none;
        object-fit: contain;     /* prikazuje cijelu sliku */
        object-position: center; /* fokus uvijek ostaje sredina */
    }

    .cs-project-description{
        gap: var(--gap-xsmall);
        max-width: 95%;
    }

    .square-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }





}