

.divider{
    display: none;
}

.cs-hero {
    height: 100vh;
    width: 100%;
    margin-bottom: 15vh;
    position: relative;        /* omogućuje apsolutno centriranje slike */
    overflow: hidden;
}

/* centriranje slike */
.cs-hero img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;          /* da prekrije cijelu sekciju */
    transform: translate(-50%, -50%);
}



.cs-project-description{
    display: flex;
    flex-direction: column;
    max-width: 75%;
    column-gap: var(--gap-small);
    margin-bottom: 15vh;
}



.logo-presentation{
    height: fit-content;
    width:  100%;
    margin-bottom: 15vh;
}

.logo-presentation img{
    object-position: center;
}



.square-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,1fr);
  row-gap: 24px;
  max-width: 1400px;
  margin-bottom: 15vh;

}

.square-item {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;   /* Kvadratni omjer */
  overflow: hidden;
}

.square-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.web-link{
    width: 100%;
    height: auto;
    font-size: clamp(8rem, -7.5rem + 28vw, 35rem);
    font-weight: 700 ;

}

.web-link span{
    transition: all .2s ease;
}

.web-link span:hover{
    transform: translateY(-5px) ;
}







@media (max-width: 768px) {

    .cs-hero {
        height: auto;
        width: 100%;            /* dopušta slici da se prirodno smanji */
    }

    .cs-hero img {
        position: static;        /* makni absolute centriranje */
        width: 100%;
        height: auto;            /* održava 1:1 proporcije */
        transform: none;
        object-fit: contain;     /* prikazuje cijelu sliku */
        object-position: center; /* fokus uvijek ostaje sredina */
    }

    .cs-project-description{
        gap: var(--gap-small);
        max-width: 95%;
    }

    .square-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }



 








}